.chat-history-container {
    --left-sidebar-padding: 0.5rem;
    --left-sidebar-padding-right: 1rem;

    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    padding: var(--left-sidebar-padding) 0 var(--left-sidebar-padding) var(--left-sidebar-padding);
    overflow-y: hidden;
    min-height: 0;
}

.controls-divider-container {
    padding-right: var(--left-sidebar-padding-right);
}

.controls-divider-container hr {
    border-color: var(--divider-color);
    width: 100%;
}

.control-buttons-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-right: var(--left-sidebar-padding-right);
}

.control-buttons-container svg {
    width: 3rem;
}

.chat-history-records-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: 0;
    overflow-y: auto;
    padding-right: var(--left-sidebar-padding-right);
}
.chat-history-rel-date-group {

}
.chat-history-rel-date-label {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: var(--background-color);
    z-index: 3;
    margin: 0;
    padding: 1rem 0 0.5rem 0;
    color: var(--text-color-disabled);
}

.no-chats-message {
    text-align: center;
}

.chat-history-record-container {
    display: flex;
    justify-content: space-between;
    border-radius: 1rem;
    z-index: 1;
    position: relative;
}
.chat-history-record-container-active {
    composes: chat-history-record-container;
    background-color: var(--background-color-active)
}
.chat-history-record-container:hover {
    background-color: var(--background-color-active);
}

.chat-history-record-title-container {
    overflow-x: hidden;
    padding: 0.75rem 1rem;
    flex-grow: 1;
}

.chat-history-record-title {
    font-size: 14px;
}

.chat-history-record-controls-container {
    display: none;
    position: absolute;
    right: 0;
    top: 50%;
    translate: 0 -50%;
    height: 100%;
    border-radius: 0 1rem 1rem 0;
    align-items: center;
    padding: 0 0.5rem;
    z-index: 0;
    background-color: var(--background-active-background-blend);
}

/* Buttons sizes */
.chat-history-record-controls-container svg {
    width: 1.2rem;
    padding: 0 0.2rem;
}

.chat-history-record-container:hover .chat-history-record-controls-container {
    display: flex;
    z-index: 2;
}
