body {
    overscroll-behavior: none;
}

.chat-app-page-wrapper {
    height: 100vh;
    background-color: var(--background-color-modal);
}
.chat-app-wrapper {
    display: flex;
    justify-content: space-between;
    height: 100%;
    position: relative;
}

.chat-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    min-width: 10rem;
    max-width: 60rem;
    height: 100%;
    padding: 0 2rem;
}


.main-sidebar-auth-info-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}

.login-info-divider-container {
    margin-right: 1rem;
}
.login-info-divider-container hr {
    border-color: var(--divider-color);
    width: 100%;
}

.chat-api-key-form-header {
    margin-top: 0.25rem;
    display: flex;
    justify-content: center;
    width: 100%;
}
