.api-key-form-container {}

.api-key-form {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    box-sizing: border-box;
    border: 2px black solid;
    width: 100%;
    border-radius: 1rem;
    align-items: center;
}

.api-key-form .loader {
    width: 2rem;
}