.api-key-form-container {
    width: 100%;
}

.api-key-form {
    display: flex;
    padding: 0 1rem;
    justify-content: space-between;
    box-sizing: border-box;
    border: 2px var(--divider-color) solid;
    background-color: var(--background-color);
    color: var(--text-color-secondary);
    width: 100%;
    border-radius: 1rem;
    align-items: center;
}

.form-submit-button-container {
    margin-left: 1rem;
    justify-self: flex-end;
}

