.messages-list-container {
    position: relative;
    height: 100%;
    margin-bottom: 1rem;
}
.messages-list {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
    overflow-wrap: anywhere;
    padding: 0 2rem;
}

.messages-list-item-container {}
.messages-list-item-container-loading {
    margin: auto;
}
