.messages-list {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: scroll;
    overflow-wrap: anywhere;
    scrollbar-width: thin;
    scrollbar-color: var(--background-color-active) transparent;
    padding: 0 2rem;  /* Scrollbar spacing */
}

.messages-list-item-container {}
.messages-list-item-container-loading {
    margin: auto;
}