.user-info-container {
    display: flex;
    flex-direction: column;
}
.guest-info-container {
    text-align: center;
}
.guest-login-header {
    color: var(--info-color-light);
}
.guest-expiry-date {
    color: var(--warning-color);
}