.form-error {
    color: #f12626;
}

.info-panel-container {
    margin-top: 1rem;
}



.info-panel {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    min-height: 2rem;
    border-radius: 1rem;
}

.auth-form-validation-errors-list {
    margin: 0.5rem 0;
    padding: 0;
}

.auth-form-validation-errors-list-item {
    list-style-type: none;
}

.auth-form-validation-errors-list-item > .info-panel-container {
    margin: 0;
}

.auth-form-validation-errors-list-item > .info-panel-container > .info-panel {
    justify-content: flex-start;
    margin: 0;
}
