.chat-app-wrapper {
    display: flex;
    justify-content: space-between;
    height: 100%;
    position: relative;
}

.chat-main-content {
    flex-grow: 1;
    min-width: 10rem;
    max-width: 50rem;
}

.main-sidebar-auth-info-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    /*position: relative;*/
}

.chat-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    min-height: 0;
    flex-grow: 1;
    margin: 1rem 0;
}


.api-key-errors-container {
    margin-top: 1.5rem;
}

.chat-control-footer {
    display: flex;
    align-items: flex-end;
    padding: 0.5rem;
    align-self: center;
    border: 2px solid black;
    border-radius: 1rem;
    width: 100%;
    /*min-width: 10rem;*/
    /*max-width: 50rem;*/
    margin-bottom: 1rem;
    justify-self: flex-end;
}

.chat-control-footer svg {
    width: 2rem;
}

.messages-list {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: scroll;
    overflow-wrap: anywhere;
    padding: 0 2rem 0 0;  /* Scrollbar spacing */
}