.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-container > button {
    align-self: stretch;
}

.generic-button {
    min-height: 2.5em;
    font-size: large;
    border-radius: 0.5rem;
    background-color: var(--primary-color);
    color: var(--primary-color-contrast);
    cursor: pointer;
    border-width: 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.generic-button:hover {
    background-color: var(--primary-color-light);
}







