.message-container {
    color: var(--text-color-secondary);
}
.user-message-container {
    composes: message-container;
}
.system-message-container {
    composes: message-container;
    margin-bottom: 4rem;
    background-color: var(--background-color-active);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}
.assistant-message-container {
    composes: message-container;
}

.highlighted-code-container {
    border-color: var(--border-color);
    border-width: 2px;
    border-style: solid;
    border-radius: 1rem 1rem;
}

.code-actions-container {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    padding: 1rem;
    border-radius: 1rem 1rem 0 0;
    background-color: var(--background-color-active);
    color: var(--text-color);
    height: 2.5rem;
}

.code-actions-container span {
    font-style: italic;
}

.code-actions-container svg {
    transition-duration: 0.25s;
    height: 1.25rem;
}

.message-author {
    color: var(--text-color);
    font-size: 1.1rem;
}


.message-content {
    text-wrap: normal;
    white-space: pre-wrap;
}
