.expand-collapse-button-container {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100%;
    width: 100%;
}
.expand-collapse-button-container button {
    width: 100%;
    height: 100%;
}



.expand-collapse-button-container[data-side][data-opened] svg {
    color: var(--text-color-secondary);
    transition: scale 0.2s linear;
}

.expand-collapse-button-container[data-side="left"][data-opened=false] svg,
.expand-collapse-button-container[data-side="right"][data-opened=true] svg,
.expand-collapse-button-container[data-side="top"][data-opened=false] svg,
.expand-collapse-button-container[data-side="bottom"][data-opened=true] svg {
    scale: -100% -100%;
}

@media screen and (max-width: 768px) {
    .expand-collapse-button-container button:active {
        filter: brightness(110%);
    }
}
