@keyframes tooltip-fade-in {
    from {
        opacity: 0;
    }
    90% {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes tooltip-fade-out {
    from {
        opacity: 1;
        display: block;
    }
    to {
        opacity: 0;
    }
}

[data-tooltip] {
    --tooltip-arrow-size: 12px;
    --tooltip-background-color: var(--info-color-dark);
    --tooltip-delay-time: 0.9s;
    --tooltip-animation-time: 0.1s;
    --tooltip-transition-time: calc(var(--tooltip-delay-time) + var(--tooltip-animation-time));
    /*Delay time (90%) + animation time (10%)*/

    position: relative;
}
[data-tooltip]::after {
    display: none;
    position: absolute;
    box-sizing: border-box;
    color: var(--info-color-contrast);
    content: attr(data-tooltip);
    max-width: 20rem;
    width: max-content;
    height: max-content;
    font-size: 14px;
    font-weight: normal;
    background-color: var(--tooltip-background-color);
    padding: calc(var(--tooltip-arrow-size) / 2);
    text-align: center;
    border-radius: 0.5rem;
    animation: tooltip-fade-out var(--tooltip-animation-time) ease-in;
    border: 2px solid var(--border-color);
    z-index: 0;
}
[data-tooltip-direction]::before {
    display: none;
    position: absolute;
    box-sizing: border-box;
    content: "";
    width: var(--tooltip-arrow-size);
    height: var(--tooltip-arrow-size);
    border-color: var(--border-color);
    border-style: solid;
    border-width: 3px 0 0 3px;
    animation: tooltip-fade-out var(--tooltip-animation-time) ease-out;
    background-image: linear-gradient(135deg, var(--tooltip-background-color) 50%, transparent 50% 100%);
}
[data-tooltip]:hover::after {
    display: block;
    animation: tooltip-fade-in var(--tooltip-transition-time) ease-out;
}
[data-tooltip]:hover::before {
    display: block;
    animation: tooltip-fade-in var(--tooltip-transition-time) ease-in;
}
[data-tooltip-direction="left"]:after {
    right: 100%;
    bottom: 50%;
    translate: calc(var(--tooltip-arrow-size) * -2) 50%;
}
[data-tooltip-direction="left"]:before {
    right: 100%;
    bottom: 50%;
    translate: -150% 50%;
    rotate: 135deg;
    z-index: 1;
}

[data-tooltip-direction="right"]:after {
    left: 100%;
    bottom: 50%;
    translate: calc(var(--tooltip-arrow-size) * 2) 50%;
}
[data-tooltip-direction="right"]:before {
    border-right-color: var(--tooltip-background-color);
    left: 100%;
    bottom: 50%;
    translate: 150% 50%;
    rotate: -45deg;
    z-index: 1;
}

[data-tooltip-direction="bottom"]:after {
    top: 100%;
    left: 50%;
    translate: -50% calc(var(--tooltip-arrow-size) * 2);
}
[data-tooltip-direction="bottom"]:before {
    top: 100%;
    left: 50%;
    translate: -50% 150%;
    rotate: 45deg;
    z-index: 1;
}
[data-tooltip-direction="top"]:after {
    bottom: 100%;
    left: 50%;
    translate: -50% calc(var(--tooltip-arrow-size) * -2);
}
[data-tooltip-direction="top"]:before {
    bottom: 100%;
    left: 50%;
    translate: -50% -150%;
    rotate: 225deg;
    z-index: 1;
}
