.account-settings-modal {
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    width: 30rem;
    overflow: visible;
    background-color: var(--background-color);
    border-color: var(--divider-color);
    color: var(--text-color-secondary);
}
.account-settings-modal::backdrop {
    background-color: rgba(0, 0, 0, 0.8);
}
.account-settings-modal[open] {
    display: flex;
}
.account-settings-modal:not([open]) {
    visibility: hidden;
}

.account-settings-modal hr {
    width: 100%;
    border-color: var(--divider-color);
}

.account-settings-modal-header {
    display: flex;
    align-items: flex-start;
    width: 100%;
    justify-content: space-between;
}

.account-settings-modal-header h2 {
    margin: 0;
    color: var(--text-color);
}
