.sidebar-container {
    height: 100vh;
    min-width: 15rem;
    width: 20vw;
    max-width: 25rem;
    color: var(--text-color);
    position: relative;
}

@media screen and (max-width: 768px) {
    .sidebar-container {
        width: 100%;
        max-width: unset;
    }
}

.sidebar-content {
    --sidebar-padding: 0.5rem;

    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    flex-grow: 1;
    background-color: var(--background-color);
    padding: var(--sidebar-padding) 0 var(--sidebar-padding) var(--sidebar-padding);
    /* Scrollbar (if exists) should be on the edge of sidebar */
}