.sidebar-container {
    display: flex;
    height: 100vh;
    min-width: 15rem;
    max-width: 25rem;
    color: var(--text-color);
    position: relative;
}

.sidebar-content {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    flex-grow: 1;
    overflow-x: clip;
    background-color: var(--background-color);
    padding: 0.5rem;
}
