#app-content {
}

#chat-controller {
}

#model-selector-container {

}

#model-selector {

}

.model-selector-option {
    text-align: center;
}

#control-sidebar {
    z-index: 10;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 15%;
    background-color: rgb(26, 24, 24);
    color: white;
}

#chat-history-sidebar-container {
    display: flex;
    flex-direction: column;
}

#new-chat-button {
    justify-self: start;
}

.chat-history-record-container {
    display: flex;
    justify-content: space-between;
}

#chat-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 15%;
}

#prompt-selection-sidebar {
    position: fixed;
    background-color: rgb(26, 24, 24);
    color: white;
    width: 15%;
    top: 0;
    bottom: 0;
    right: 0;
}

#prompt-footer {
    z-index: 0;
    display: flex;
    justify-content: center;
    padding-bottom: 2em;
    padding-top: 2em;
    padding-left: 15%;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgb(244, 244, 241);
}
