.model-selector-container {
    width: max-content;
    position: relative;
}
.model-selector-popup-trigger-button-container {}
.model-selector-popup-trigger-button {
    width: 100%;
    padding: 0.5rem;
    background-color: transparent;
    color: var(--text-color);
    font-size: 1.1rem;
    border-radius: 0.5rem;
    border: 0;
    white-space: nowrap;
}

.model-selector-popup-trigger-button:hover {
    background-color: var(--background-color-active);
    cursor: pointer;
}
.model-selector-popup {
    display: block;
    position: absolute;
    width: max-content;
    background-color: var(--background-color);
    border-color: var(--divider-color);
    border-width: 2px;
    padding: 0.5rem;
    border-radius: 1rem;
}
.model-selector-popup[open] {
    visibility: visible;
    opacity: 1;
    bottom: 150%;
    transition: visibility 0s, opacity 0.25s ease, bottom 0.25s ease;
}
.model-selector-popup:not([open]) {
    visibility: hidden;
    opacity: 0;
    bottom: 50%;
    transition: visibility 0s 0.2s, opacity 0.2s ease, bottom 0.2s ease;

}

.model-selection-button {
    width: 100%;
    padding: 0.5rem 0.25rem;
    border: 0;
    border-radius: 0.5rem;
    background-color: transparent;
    color: var(--text-color-secondary);
    font-size: 1.1rem;
}
.model-selection-button:hover {
    background-color: var(--background-color-active);
}
@media screen and (max-width: 400px) {
    .model-selector-popup-trigger-button {
        font-size: 0.8rem;
    }
    .model-selector-popup .model-selection-button {
        font-size: 0.8rem;
    }
}
