.prompt-library-container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 1rem 0 1rem 0;
    height: 100%;
}

.prompt-library-container h2 {
    margin: 0;
    text-align: center;
}

.prompt-library-container hr {
    border-color: var(--divider-color);
    border-radius: 1px;
    border-width: 1px;
    padding: 0;
    margin: 1rem 0 1rem 0;
}
.prompt-library-records-list-container {
    height: 100%;
    box-sizing: border-box;
    padding: 0.5rem;
    overflow-y: hidden;
}

.prompt-library-records-list {
    display: flex;
    height: 100%;
    box-sizing: border-box;
    flex-direction: column;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: var(--background-color-active) transparent;
}

.no-prompts-message {
    text-align: center;
}

.prompt-library-record-container {
    display: flex;
    justify-content: space-between;
    border-radius: 1rem;
}
.prompt-library-record-container:hover {
    background-color: rgba(255, 255, 255, 0.05);
}

.prompt-library-record-title-container {
    overflow-x: hidden;
    padding: 1rem;
    flex-grow: 1;
}

.prompt-library-record-title {
}

.prompt-library-record-controls-container {
    display: none;
    align-items: center;
    padding: 0 0.5rem;
}

/* Buttons sizes */
.prompt-library-record-controls-container svg {
    width: 1.2rem;
    padding: 0 0.2rem;
}

.prompt-library-record-container:hover .prompt-library-record-controls-container {
    display: flex;
}
