.verification-request-controller-container {}
.verification-request-controller-container > h2 {
    align-self: center;
    text-align: center;
}
.counter-text {
    text-align: center;
}
.logout-link {
    cursor: pointer;
    text-decoration: underline;
    font-size: 1rem;
}
.spacer {
    width: 100%;
    height: 100%;
    margin-top: 1rem;
}
