.tutorial-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.tutorial-container svg {
    width: 1.5rem;
    height: auto;
    display: inline-block;
}

.tutorial-steps-list-container {
    overflow-y: auto;

}
.tutorial-steps-list {
    padding: 0;
    list-style-position: inside;
}

.tutorial-steps-list-item {
    padding: 1rem 0;
}
.tutorial-steps-list-item svg,
.tutorial-steps-list-item span {
    vertical-align: text-top;
}

.tutorial-container a {
    color: var(--primary-color-light);
    vertical-align: unset;
}

.text-pc {
    color: var(--primary-color);
}
.text-wc {
    color: var(--warning-color);
}

@media screen and (max-width: 400px) {
    .tutorial-container svg {
        width: 1rem;
    }
}