.alternative-login-options-container {
    display: flex;
    flex-direction: column;
}

.alternative-login-options-container > span {
    align-self: center;
    margin: 0.75rem 0;
    color: var(--text-color-secondary);
}

.social-logins-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.guest-login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.guest-login-container > span {
    margin: 5px 0;
}


