.alternative-login-options-container {
    display: flex;
    flex-direction: column;
}

.social-logins-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.guest-login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.guest-login-container > span {
    margin: 5px 0;
}

.auth-form-nav-container {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}
