.prompt-container {
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-radius: 1rem;
    gap: 1rem;
}

.prompt-input-container {
    display: flex;
    align-items: center;
    align-self: center;
    flex-grow: 1;
    width: 100%;
    height: 100%;
}

.prompt-container textarea {
    width: 100%;
    font-size: 1rem;
    background-color: transparent;
    color: var(--text-color);
    min-width: 100px;
    padding: 0 0.55rem 0 0;
    box-sizing: border-box;
    line-height: 20px;
    min-height: 20px;
    max-height: 20em;
    overflow-y: auto;
    border: none;
    resize: none;
}

.prompt-container textarea:focus {
    outline: none;
}

