.expand-collapse-button-container {
    position: absolute;
    z-index: 1;
}
.expand-collapse-button-container svg {
    color: var(--text-color-secondary);
}
.expand-collapse-button-container svg:hover {
    color: var(--text-color-secondary);
}

.collapsable-edge-element {
    position: relative;
}

.collapsable-edge-element-content {
    display: flex;
    justify-content: center;
}

.collapsable-edge-element-vertical {composes: collapsable-edge-element}
.collapsable-edge-element-horizontal {composes: collapsable-edge-element}
.collapsable-edge-element-collapsed {composes: collapsable-edge-element}
.collapsable-edge-element-expanded {composes: collapsable-edge-element}
.collapsable-edge-element-left {composes: collapsable-edge-element-horizontal}
.collapsable-edge-element-right {composes: collapsable-edge-element-horizontal}
.collapsable-edge-element-top {composes: collapsable-edge-element-vertical}
.collapsable-edge-element-bottom {composes: collapsable-edge-element-vertical}

.collapsable-edge-element-collapsed .collapsable-edge-element-content {
    display: none;
}

.collapsable-edge-element-horizontal .collapsable-edge-element-content {
    flex-direction: column;
}

.collapsable-edge-element-vertically-collapsed {
    composes: collapsable-edge-element-collapsed collapsable-edge-element-vertical;
}
.collapsable-edge-element-horizontally-collapsed {
    composes: collapsable-edge-element-horizontal collapsable-edge-element-collapsed;
}
.collapsable-edge-element-vertically-expanded {
    composes: collapsable-edge-element-vertical collapsable-edge-element-expanded;
}
.collapsable-edge-element-horizontally-expanded {
    composes: collapsable-edge-element-horizontal collapsable-edge-element-expanded;
}

.collapsable-edge-element-left .expand-collapse-button-container {
    left: 100%;
    top: 50%;
    translate: 0 -50%;
}
.collapsable-edge-element-left-collapsed {
    composes: collapsable-edge-element-horizontally-collapsed collapsable-edge-element-left;
}
.collapsable-edge-element-left-expanded {
    composes: collapsable-edge-element-horizontally-expanded collapsable-edge-element-left;
}

.collapsable-edge-element-right .expand-collapse-button-container {
    right: 100%;
    top: 50%;
    translate: 0 -50%;
}
.collapsable-edge-element-right-collapsed {
    composes: collapsable-edge-element-horizontally-collapsed collapsable-edge-element-right;
}
.collapsable-edge-element-right-expanded {
    composes: collapsable-edge-element-horizontally-expanded collapsable-edge-element-right;
}

.collapsable-edge-element-top .expand-collapse-button-container {
    top: 100%;
    left: 50%;
    translate: -50% 0;
}
.collapsable-edge-element-top-collapsed {
    composes: collapsable-edge-element-vertically-collapsed collapsable-edge-element-top;
}
.collapsable-edge-element-top-expanded {
    composes: collapsable-edge-element-vertically-expanded collapsable-edge-element-top;
}


.collapsable-edge-element-bottom .expand-collapse-button-container {
    bottom: 100%;
    left: 50%;
    translate: -50% 0;
}
.collapsable-edge-element-bottom-collapsed {
    composes: collapsable-edge-element-vertically-collapsed collapsable-edge-element-bottom;
}
.collapsable-edge-element-bottom-expanded {
    composes: collapsable-edge-element-vertically-expanded collapsable-edge-element-bottom;
}

@media screen and (max-width: 768px) {
    .collapsable-edge-element-expanded {
        width: calc(100% - 2rem);  /* 2rem is a gap for a button */
    }
    .collapsable-edge-element-expanded .expand-collapse-button-container {
        display: flex;
        justify-content: center;
        background-color: var(--background-color-modal);
    }
    .expand-collapse-button-container:active {
        filter: brightness(110%);
    }
    .collapsable-edge-element-left-expanded {
        position: absolute;
        left: 0;
        z-index: 4;
    }
    .collapsable-edge-element-left-expanded .expand-collapse-button-container {
        height: 100%;
    }
    .collapsable-edge-element-left-expanded .expand-collapse-button-container div {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
    }
    .collapsable-edge-element-left-expanded .expand-collapse-button-container button {
        height: 100%;
    }
    .collapsable-edge-element-right-expanded {
        position: absolute;
        right: 0;
        z-index: 3;
    }
    .collapsable-edge-element-right-expanded .expand-collapse-button-container {
        flex-direction: column;
        align-items: flex-end;
        height: 100%;
    }
    .collapsable-edge-element-right-expanded .expand-collapse-button-container div {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
    }
    .collapsable-edge-element-right-expanded .expand-collapse-button-container button {
        height: 100%;
    }
    .collapsable-edge-element-top-expanded {
        position: relative;
        top: 0;
        left: 50%;
        translate: -50%;
        z-index: 1;
    }
    .collapsable-edge-element-top-expanded .expand-collapse-button-container {
        flex-direction: row;
        align-items: center;
        width: unset;
        height: unset;
    }
    .collapsable-edge-element-bottom-expanded {
        bottom: 0;
        left: 50%;
        translate: -50%;
        z-index: 2;
    }
    .collapsable-edge-element-bottom-expanded .expand-collapse-button-container {
        flex-direction: row;
        align-items: center;
    }
}
