.modal-card-wrapper {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    background-color: var(--background-color);
}

.modal-card-base {
    display: flex;
    align-self: center;
    box-sizing: border-box;
    padding: 1rem;
    min-width: 270px;
    width: 25rem;
    min-height: 10rem;
    max-height: 50rem;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    border-style: solid;
    border-radius: 1rem;
    background-color: var(--background-color-modal);
    border-color: var(--divider-color);
    color: var(--text-color);
    border-width: 1px;
}

.modal-card-base > hr {
    border-color: var(--divider-color);
    border-radius: 1px;
    border-width: 1px;
    padding: 0;
    margin: 1rem 0 1rem 0;
}

.modal-card-borderless {
    composes: modal-card-base;
    border: 0;
    box-shadow: none;
}

@media screen and (max-width: 26rem) {
    .modal-card-base {
        width: 95%;
    }
}
