html {
    overscroll-behavior-y: contain;
    overscroll-behavior-x: none;
    overflow-y: scroll;
    overflow-x: hidden;
    box-sizing: border-box;
    height: 100dvh;
    width: 100dvw;
    background-color: var(--background-color);
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-color: var(--background-color);
    overscroll-behavior: contain;
    height: 100%;
    width: 100%;
}

* {
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.2) transparent;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
dialog button:focus {
    outline: none;
}

::placeholder {
    font-family: inherit;
    font-size: 1em;
    font-weight: 200;
}

[data-theme="theme-dark"] {
    --background-color: #121212;
    --background-color-modal: #282828;
    --background-color-text-field: #262626;
    --background-color-active: rgba(255, 255, 255, 0.05);
    --background-active-background-blend: rgba(30, 30, 30);

    --text-color: #fff;
    --text-color-secondary: rgba(255, 255, 255, 0.7);
    --text-color-disabled: rgba(255, 255, 255, 0.5);

    --primary-color: #3fb4ef;
    --primary-color-light: rgb(101, 195, 242);
    --primary-color-dark: rgb(44, 125, 167);
    --primary-color-contrast: rgba(0, 0, 0, 0.87);

    --secondary-color: #9c27b0;
    --secondary-color-light: rgb(175, 82, 191);
    --secondary-color-dark: rgb(109, 27, 123);
    --secondary-color-contrast: #fff;

    --error-color: #d32f2f;
    --error-color-light: rgb(219, 88, 88);
    --error-color-dark: rgb(147, 32, 32);
    --error-color-contrast: #fff;

    --warning-color: #ffa726;
    --warning-color-light: #ffb74d;
    --warning-color-dark: #f57c00;
    --warning-color-contrast: rgba(0, 0, 0, 0.87);

    --info-color: #0288d1;
    --info-color-light: rgb(52, 159, 218);
    --info-color-dark: rgb(1, 95, 146);
    --info-color-contrast: #fff;

    --success-color: #66bb6a;
    --success-color-light: #81c784;
    --success-color-dark: #388e3c;
    --success-color-contrast: rgba(0, 0, 0, 0.87);

    --divider-color: rgba(255, 255, 255, 0.12);
    --border-color: #555555;
}

[data-theme="theme-light"] {
    --background-color: #f6f6f6;
    --background-color-modal: #f2f2f2;
    --background-color-text-field: #e6e6e6;
    --background-color-active: rgba(0, 0, 0, 0.05);
    --background-active-background-blend: rgba(242, 242, 242);

    --text-color: #000;
    --text-color-secondary: rgba(0, 0, 0, 0.8);
    --text-color-disabled: rgba(0, 0, 0, 0.5);

    --primary-color: #1976d2;
    --primary-color-light: #63a4ff;
    --primary-color-dark: #004ba0;
    --primary-color-contrast: #fff;

    --secondary-color: #8e24aa;
    --secondary-color-light: #c158dc;
    --secondary-color-dark: #5c007a;
    --secondary-color-contrast: #000;

    --error-color: #f44336;
    --error-color-light: #ff7961;
    --error-color-dark: #ba000d;
    --error-color-contrast: #000;

    --warning-color: #ff9800;
    --warning-color-light: #ffc947;
    --warning-color-dark: #c66900;
    --warning-color-contrast: #000;

    --info-color: #0288d1;
    --info-color-light: #5eb8ff;
    --info-color-dark: #005b9f;
    --info-color-contrast: #000;

    --success-color: #2e7d32;
    --success-color-light: #60ad5e;
    --success-color-dark: #005005;
    --success-color-contrast: #000;

    --divider-color: rgba(0, 0, 0, 0.20);
    --border-color: #cccccc;
}

button {
    outline: none;
    -webkit-tap-highlight-color: transparent;
}