.form-error-container {
    margin-top: 1rem;
}


.error-panel {
    margin: 0;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    min-height: 2rem;
    border-radius: 1rem;
}

.form-error {
    composes: error-panel;
    color: var(--error-color);
    text-align: center;
    margin-top: 0.5rem;
}

.auth-form-validation-errors-list {
    margin-top: 0;
    margin-bottom: 0.5rem;
    padding: 0;
}


.auth-form-validation-errors-list-item {
    list-style-type: none;
    text-align: center;
}

.auth-form-validation-errors-list-item .form-error-container {
    margin: 0;
}

.auth-form-validation-errors-list-item > .info-panel-container {
    margin: 0;
}

.auth-form-validation-errors-list-item > .info-panel-container > .info-panel {
    justify-content: flex-start;
    margin: 0;
}

.loading-error-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
