.icon-button {
    background-color: transparent;
    padding: 0;
    border: 0;
    cursor: pointer;
}

.icon-button > svg {
    width: 2rem;
    height: auto;
    color: var(--text-color);
}

.icon-button > svg:hover {
    transform: scale(1.1);
    opacity: 0.75;
    transition: opacity 0.5s ease;
}
