.icon-button {
    background-color: transparent;
    filter: invert(100%);
    padding: 0;
    border: 0;
}

.icon-button > svg {
    width: 2rem;
    height: auto;
    transition: 0.5s ease;
}

.icon-button > svg:hover {
    transform: scale(1.1);
}
