.icon-button {
    background-color: transparent;
    padding: 0;
    border: 0;
    cursor: pointer;
    color: var(--text-color-secondary);
}

.icon-button > svg {
    width: 2rem;
    height: auto;
    transition: 0.5s ease;
}

.icon-button > svg:hover {
    transform: scale(1.1);
}
