.auth-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.auth-form-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.auth-form-inputs {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}




